#login {
    margin-top: 6.5rem;
    margin-bottom: 15rem;
}

#login .login-ctn {
    display: flex;
    color: #1f2937;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#login .img-ctn {
    width: 50%;
}

#login .img-ctn .img {
    width: 90%;
}

#login .content-ctn {
    width: 20%;
}

#login .content-ctn .title {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

#login .label {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    color: #374151;
    font-size: 1.25rem;
    line-height: 1.75rem;
    cursor: pointer;
}

#login .input-ctn {
    display: flex;
    margin-bottom: 1rem;
    color: #6b7280;
    border-radius: 0.25rem;
    border-width: 1px;
}

#login .input {
    padding: 0.5rem 1rem;
    background-clip: padding-box;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #374151;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #d1d5db;
    border-style: solid;
}

#login .input:focus {
    color: #374151;
    border-color: #2563eb;
    outline: 0;
}

#login .btn-ctn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #2563eb;
    color: #ffffff;
    border-radius: 0.25rem;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
}

#login .btn {
    display: inline-block;
    padding: 0.75rem 1.75rem;
    background-color: #2563eb;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 1.375;
    text-transform: uppercase;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
}

#login .btn:disabled {
    opacity: 0.5;
}

#login .btn:hover,
.btn-ctn:hover {
    background-color: #1d4ed8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#login .btn:focus,
.btn-ctn:hover {
    background-color: #1d4ed8;
    box-shadow: var(--tw-ring-inset) 0 0 0
        calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    outline: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#login .btn:active,
.btn-ctn:hover {
    background-color: #1e40af;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#login .link {
    color: #2563eb;
    text-align: center;
    padding-left: 0px;
}

#login .link:hover {
    color: #1e40af;
}

#login .link:focus {
    color: #1d4ed8;
}

#login .link:active {
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #1e40af;
}

#login .link-span-ctn {
    text-align: center;
}

#login .span {
    color: #6b7280;
    margin-right: 0.5rem;
}

#login .link-span {
    display: inline-block;
    color: #2563eb;
}

@media screen and (max-width: 1650px) {
    #login .content-ctn {
        width: 25%;
    }
}

@media screen and (max-width: 1100px) {
    .create-cause-ctn {
        max-width: 90%;
        margin-top: 150px;
        border-radius: 16px;
    }

    #login .img-ctn {
        display: none;
    }

    #login .content-ctn {
        width: 50%;
    }
}

@media screen and (max-width: 450px) {
    .create-cause-ctn {
        max-width: 90%;
        margin-top: 150px;
        border-radius: 16px;
    }

    #login .img-ctn {
        display: none;
    }

    #login .content-ctn {
        width: 70%;
    }

    #login .content-ctn .title {
        font-size: var(--mainTitle-fs-sm);
    }

    #login .label {
        font-size: 1.1rem;
    }

    #login .input-ctn {
        margin-bottom: 1.5rem;
    }
}
