#joined-causes {
    display: flex;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    margin-top: 100px;
    padding-bottom: 200px;
}

#joined-causes .title {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    color: #343e48;
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
}

#joined-causes .causes-ctn {
    display: flex;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    justify-content: center;
    gap: 100px;
}

#joined-causes .no-articles-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    line-height: 1.25;
}

#joined-causes .btn-ctn {
    display: flex;
    justify-content: center;
    margin-bottom: 12rem;
}

#joined-causes .load-more-btn {
    display: inline-block;
    width: 25%;
    padding: 0.75rem 1.75rem;
    margin-top: 3rem;
    background-color: #2563eb;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.375;
    text-transform: uppercase;
    max-width: 24rem;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#joined-causes .load-more-btn:hover {
    background-color: #1d4ed8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#joined-causes .load-more-btn:focus {
    background-color: #1d4ed8;
    box-shadow: var(--tw-ring-inset) 0 0 0
        calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    outline: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#joined-causes .load-more-btn:active {
    background-color: #1e40af;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
