#change-password {
    margin-top: 6.5rem;
    margin-bottom: 15rem;
    display: flex;
    color: #1f2937;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#change-password .img-ctn {
    width: 50%;
}

#change-password .img-ctn .img {
    width: 100%;
}

#change-password .content-ctn {
    width: 25%;
}

#change-password .content-ctn .title {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

#change-password .label {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    color: #374151;
    font-size: 1.25rem;
    line-height: 1.75rem;
    cursor: pointer;
}

#change-password .input-ctn {
    display: flex;
    margin-bottom: 1rem;
    color: #6b7280;
    border-radius: 0.25rem;
    border-width: 1px;
}

#change-password .input {
    padding: 0.5rem 1rem;
    background-clip: padding-box;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #374151;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #d1d5db;
    border-style: solid;
}

#change-password .input:focus {
    color: #374151;
    border-color: #2563eb;
    outline: 0;
}
