.backToTheTopBtn {
    display: block;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    margin-bottom: 7rem;
    background-color: #6366f1;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.backToTheTopBtn:hover {
    background-color: #484bf7;
}
