.card-cont {
    background-color: #ffffff;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 500ms;
    max-width: 500px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card-cont:hover {
    background-color: #d1d5db;
}

.card-cont .card {
    box-shadow: inset 5px 5px 5px #0003, inset -5px -5px 15px #ffffff1a,
        5px 5px 15px #0000004d, -5px -5px 15px #ffffff1a;
    border-radius: 15px;
    transition: 0.5s;
}

.card-img {
    border-radius: 0.5rem;
    height: 280px;
}

.card-details {
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    overflow: visible;
    overflow-wrap: break-word;
}

.card-details h5 {
    margin-bottom: 0.5rem;
    color: #111827;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    text-align: center;
}

.card-details p {
    margin-bottom: 2rem;
    color: #374151;
    font-size: 1rem;
    line-height: 1.5rem;
}

.card-details .card-details-btn {
    display: inline-block;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #2563eb;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    line-height: 1.25;
    text-transform: uppercase;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-details .card-details-btn:hover {
    background-color: #1d4ed8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card-details .card-details-btn:focus {
    background-color: #1d4ed8;
    outline: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card-details .card-details-btn:active {
    background-color: #1e40af;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 450px) {
    .card-cont {
        max-width: 300px;
    }

    .card-img {
        height: 200px;
    }
}
