.home {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 100px;
}

.home-title {
    font-size: 4.1rem;
    margin: 0 auto;
    position: relative;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #343e48;
    text-align: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.load-more-btn-cont {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 70px;
}
