.home {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    padding-bottom: 200px;
}

.hero {
    position: relative;
}

.hero::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0px;
    left: 0px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 28%,
        rgba(255, 255, 255, 0) 94%
    );
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-title {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
    font-size: 4.1rem;
    /* position: relative; */
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 0px;
    color: #343e48;
    text-align: center;
}

.home-quote {
    font-size: 2.5rem;
    margin: 0 auto;
    position: relative;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 0px;
    color: #343e48;
    text-align: center;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.home-quote-author {
    font-size: 1.5rem;
    margin: 0 auto;
    position: relative;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 0px;
    color: #343e48;
    text-align: left;
    /* TODO */
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.latest-topics-title {
    font-size: 1.5rem;
    margin: 1rem auto;
    position: relative;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 0px;
    color: #3f4c58;
    text-align: center;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.carousel-container {
    padding: 24px 24px;
    margin: 0 auto;
    width: 50%;
    background-color: #fff;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 500ms;
    border-radius: 0.5rem;
    box-shadow: inset 5px 5px 5px #0003, inset -5px -5px 15px #ffffff1a,
        5px 5px 15px #0000004d, -5px -5px 15px #ffffff1a;
}

.load-more-btn-cont {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 150px;
}

.load-more-button {
    display: inline-block;
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    background-color: #2563eb;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.375;
    text-transform: uppercase;
    max-width: 24rem;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: relative;
    overflow: hidden;
    transition: 400ms;
    cursor: pointer;
}

.load-more-button:active {
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.load-more-button:hover {
    background-color: #1d4ed8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.load-more-button:focus {
    background-color: #1d4ed8;
    box-shadow: var(--tw-ring-inset) 0 0 0
        calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    outline: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1250px) {
    .home-title {
        font-size: 47px;
    }

    .home-quote {
        font-size: 28px;
    }

    .home-quote-author {
        font-size: 21px;
    }

    .latest-topics-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 900px) {
    .home-title {
        font-size: 41px;
        top: -3vh;
    }

    .home-quote {
        font-size: 28px;
        top: 38%;
    }

    .home-quote-author {
        font-size: 20px;
        left: 48%;
    }

    .latest-topics-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 700px) {
    .home {
        margin-top: 30px;
    }

    .home-title {
        font-size: 28px;
    }

    .home-quote {
        font-size: 20px;
    }

    .home-quote-author {
        font-size: 16px;
    }

    .latest-topics-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 550px) {
    .home-title {
        font-size: 21px;
        top: 1vh;
    }

    .home-quote {
        font-size: 16px;
    }

    .home-quote-author {
        font-size: 12px;
    }

    .latest-topics-title {
        font-size: 21px;
    }
}
