#my-profile {
    padding: 2rem;
    margin-top: 12rem;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

#my-profile .content-ctn {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

#my-profile .causes-ctn {
    display: grid;
    text-align: center;
    order: -9999;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

#my-profile .causes-count {
    color: #374151;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

#my-profile .causes-title {
    color: #9ca3af;
}

#my-profile .center {
    position: relative;
}

#my-profile .img-ctn {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -6rem;
}

#my-profile .img-ctn .img {
    margin-left: auto;
    margin-right: auto;
    background-color: #e0e7ff;
    height: 12rem;
    border-radius: 9999px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#my-profile .upload-ctn {
    display: flex;
    margin-left: 2rem;
    justify-content: center;
}

#my-profile .upload-ctn .upload-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

#my-profile .upload-ctn .upload-input {
    display: block;
    background-color: #f9fafb;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #d1d5db;
    cursor: pointer;
}

#my-profile .upload-ctn .upload-input:focus {
    outline: 0;
}

#my-profile .upload-ctn .upload-desc {
    margin-top: 0.25rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
