#my-profile {
    padding: 2rem;
    margin-top: 14rem;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 7rem;
}

#my-profile .content-ctn {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
}

#my-profile .causes-ctn {
    display: grid;
    text-align: center;
    order: -9999;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#my-profile .causes-count {
    color: #374151;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

#my-profile .causes-title {
    color: #9ca3af;
}

#my-profile .center {
    position: relative;
}

#my-profile .img-ctn {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
}

#my-profile .img-ctn .img {
    margin-left: auto;
    margin-right: auto;
    background-color: #e0e7ff;
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#my-profile .upload-ctn {
    display: flex;
    justify-content: center;
}

#my-profile .upload-ctn .upload-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

#my-profile .upload-ctn .upload-input {
    display: block;
    background-color: #f9fafb;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #d1d5db;
    cursor: pointer;
}

#my-profile .upload-ctn .upload-input:focus {
    outline: 0;
}

#my-profile .upload-ctn .upload-desc {
    margin-top: 0.25rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

#my-profile .upload-ctn .upload-btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: 3rem;
    background-color: #60a5fa;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 0.5rem;
}

#my-profile .upload-ctn .upload-btn:hover {
    background-color: #3b82f6;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    --transform-translate-y: -0.125rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#my-profile .change-password-btn {
    padding: 1rem;
    margin: 5rem auto;
    background-color: #374151;
    color: #ffffff;
    border-radius: 0.5rem;
    width: 24%;
    text-align: center;
}

#my-profile .change-password-btn:hover {
    background-color: #1f2937;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    --transform-translate-y: -0.125rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#my-profile .user-info {
    padding-bottom: 3rem;
    margin-top: 5rem;
    text-align: center;
    border-bottom-width: 1px;
}

#my-profile .user-info .user-names {
    color: #374151;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 500;
}

#my-profile .user-info .user-country {
    margin-top: 0.75rem;
    color: #4b5563;
    font-weight: 300;
}

#my-profile .user-info .user-addInfo {
    margin-top: 2rem;
    color: #6b7280;
}

@media screen and (max-width: 450px) {
    #my-profile .causes-ctn {
        gap: 16px;
    }

    #my-profile .img-ctn .img {
        height: 8.5rem;
        width: 8.5rem;
    }

    #my-profile .upload-ctn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 32px;
        margin-left: 18px;
    }

    #my-profile .upload-ctn .upload-btn {
        margin-left: 0px;
        font-size: 12px;
        background-color: #60a5fa;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 0.5rem;
        height: 80px;
        width: 130px;
    }

    #my-profile .upload-ctn .upload-label {
        margin-bottom: 2rem;
        color: #374151;
        font-size: 16px;
        text-align: center;
        font-weight: 700;
    }

    #my-profile .upload-ctn .upload-desc {
        margin-top: 0.25rem;
        color: #6b7280;
        font-size: 12px;
        line-height: 1.25rem;
    }

    #my-profile .change-password-btn {
        padding: 1rem;
        margin: 7rem auto;
        background-color: #374151;
        color: #ffffff;
        border-radius: 0.5rem;
        width: 60%;
        font-size: 15px;
        text-align: center;
    }

    #my-profile .user-info .user-names {
        color: #374151;
        font-size: 32px;
        line-height: 2.5rem;
        font-weight: 500;
    }

    #my-profile .user-info .user-country {
        margin-top: 0.75rem;
        font-size: 15px;
        color: #4b5563;
        font-weight: 300;
    }
}
