@import url(https://fonts.googleapis.com/css?family=Lato:100,400);

header {
    margin-bottom: 70px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 535px;
    background-color: #343e48;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.nav-items {
    position: relative;
    display: flex;
    padding: 0.8rem;
    align-items: center;
    justify-content: center;
}

ul {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #343e48;
    position: relative;
}

li {
    margin: 0 auto;
    display: inline-block;
    list-style: none;
    padding: 0;
}

a {
    display: block;
    padding: 25px 15px 25px 15px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
    color: #7d8a99;
    font-weight: bold;
    letter-spacing: 0.18em;
}
a:hover {
    color: rgb(85, 128, 248);
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    /* background-color: rgb(29 78 216); */
}
