nav a {
    margin: 0 0.5em;
} 

nav a:hover {
    cursor: pointer;
    color: rgb(51, 212, 186);
    font-weight: bolder;
}

/* body {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.auth {
    width: 100px;
    margin: 8em auto;
}

header {
    background-color: white;
    width: 100%;
    overflow: hidden;
}

.home {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
    padding: 10px;
}

header h1 {
    display: inline-block;
    background-color: white;
    margin-bottom: auto;
}



footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav a {
    margin: 0 0.5em;
} 

nav a:hover {
    cursor: pointer;
    color: rgb(82, 133, 139);
    font-weight: bolder;
}

.home:hover {
    color: rgb(82, 133, 139);
}

#user,
#guest {
    margin: 0;
    padding: 0;
} */