.footer {
    background-color: #343e48;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 4rem 0 3rem;
    margin: 0%;
    height: 60px;
    bottom: 0;
    height: 100px;
}

.footer-content {
    font-family: Roboto;
    margin-top: 10px;
    color: #7d8a99;
}

.footer-link {
    font-size: 18px;
    padding: 10px;
}

.footer-link:hover {
    color: rgb(85, 128, 248);
}
