#forgot-password {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

#forgot-password .title {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
}

#forgot-password .label {
    display: inline-block;
    margin: 0.5rem;
    color: #374151;
    font-size: 1.25rem;
    line-height: 1.75rem;
    cursor: pointer;
}

#forgot-password .input-ctn {
    display: flex;
    margin-bottom: 1rem;
    color: #6b7280;
    border-radius: 0.25rem;
    border-width: 1px;
}

#forgot-password .input {
    padding: 0.5rem 1rem;
    background-clip: padding-box;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #374151;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #d1d5db;
    border-style: solid;
}

#forgot-password .input:focus {
    color: #374151;
    border-color: #2563eb;
    outline: 0;
}

#forgot-password .btn-ctn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #2563eb;
    color: #ffffff;
    border-radius: 0.25rem;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
}

#forgot-password .btn {
    display: inline-block;
    padding: 0.75rem 1.75rem;
    background-color: #2563eb;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 1.375;
    text-transform: uppercase;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
}

#forgot-password .btn:disabled {
    opacity: 0.5;
}

#forgot-password .btn:hover,
.btn-ctn:hover {
    background-color: #1d4ed8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#forgot-password .btn:focus,
.btn-ctn:hover {
    background-color: #1d4ed8;
    box-shadow: var(--tw-ring-inset) 0 0 0
        calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    outline: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#forgot-password .btn:active,
.btn-ctn:hover {
    background-color: #1e40af;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#forgot-password .link {
    color: #2563eb;
    text-align: center;
    padding-left: 0px;
}

#forgot-password .link:hover {
    color: #1e40af;
}

#forgot-password .link:focus {
    color: #1d4ed8;
}

#forgot-password .link:active {
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #1e40af;
}

#forgot-password .link-span-ctn {
    text-align: center;
}

#forgot-password .span {
    color: #6b7280;
    margin-right: 0.5rem;
}

#forgot-password .link-span {
    display: inline-block;
    color: #2563eb;
}

@media screen and (max-width: 450px) {
    #forgot-password .title {
        font-size: var(--mainTitle-fs-sm);
    }

    #forgot-password .forgotPass-form {
        width: 75%;
    }

    #forgot-password .label {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 900px) {
    #forgot-password .forgotPass-form {
        width: 50%;
    }
}
