@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400&family=Roboto:wght@300;400;500;700&display=swap");

body {
    min-height: 100%;
    width: 100%;
    padding-bottom: 60px;
    max-width: 1880px;
}

label {
    cursor: pointer;
}

/* @media screen and (max-width: 1000px) {
    body {
        max-width: 350px;
    }
} */
