@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100%;
    padding-bottom: 80px;
    max-width: 2480px;
    margin: 0px auto;
}

label {
    cursor: pointer;
}

.jsyesnodialog__dialog__body {
    color: red;
}

div.jsyesnodialog__dialog__footer
    > button.jsyesnodialog__dialog__button.jsyesnodialog__dialog__yes {
    background-color: rgb(248, 59, 59);
    border-color: rgb(202, 6, 6);
}

:disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 450px) {
    body {
        max-width: 450px;
    }
}
