.comment-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.comment {
    width: 670px;
    border: 2px solid #fff;
    border-right: none;
    border-bottom: none;
    background: rgba(20, 20, 20, 0.342);
    color: white;
    outline: none;
    border-radius: 28px;
    position: relative;
    word-wrap: break-word;
    padding: 10px 10px 5px 10px;
}

.owner {
    text-align: center;
}

.owner-info {
    padding: 10px;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    background: #1e545b;
    color: white;
    outline: none;
    border-radius: 25px;
    width: 148px;
    word-wrap: break-word;
    margin-top: 45px;
    margin-left: 20px;
    font-size: 16px;
}

.timestamp {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 14px;
    color: #e66045;
}

.buttons {
    position: absolute;
    display: flex;
    gap: 12px;
}

.delete-btn,
.edit-btn {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    width: 70px;
    padding: 8px;
    border: 2px solid white;
    cursor: pointer;
    background: #d13746;
    color: white;
    outline: none;
    border-radius: 8px;
}

.delete-btn:hover {
    background: #ac1020;
}

.edit-btn {
    background-color: #0387c7;
}

.edit-btn:hover {
    background-color: #095c86;
}

.likes-no {
    float: right;
    margin-left: 670px;
    font-size: 14px;
    color: #e00808;
    width: 65px;
    margin-bottom: 3px;
}
